<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mw.education.dao.ExamMapper">

    <resultMap id="BaseResultMap" type="com.mw.education.domain.Exam">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="course_id" property="courseId" jdbcType="INTEGER"/>
        <result column="date" property="date" jdbcType="DATE"/>
        <result column="location" property="location" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, course_id, date, location, remark
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from exam
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from exam
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from exam
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.mw.education.domain.Exam">
        insert into exam (course_id, date, location, remark)
        values (#{courseId,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{location,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.mw.education.domain.Exam">
        update exam
        set course_id = #{courseId,jdbcType=INTEGER},
            date = #{date,jdbcType=DATE},
            location = #{location,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>
